!*.yaml
!.gitignore
!*.md

# Ignore folders.
.storage
.cloud
.google.token
deps
.vscode
panels
tts
androidkeys
node-red
custom_components



# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
.spotify-token-cache
.mercedesme-token-cache
.HA_VERSION
plex.conf
pyozw.sqlite
mercedesme_status.json
OZW_Log.txt
home-assistant_v2.db
home-assistant.log
zwcfg_0xc7e97c1e.xml
zwscene.xml
options.xml
configuration.yaml
customize.yaml
groups.yaml
light.yaml
lights.yaml
themes.yaml
zwave_device_config.yaml
home-assistant_v2.db-shm
home-assistant_v2.db-wal
*.old

ip_bans.yaml
secrets.yaml
known_devices.yaml
