@charset "utf-8";

/* Ticker */
.modern-ticker {
	color: #505050;
	background-color: #404040;
}

/* Label */
.modern-ticker .mt-label {
	background-color: #dadada;
}

/* News */
.modern-ticker .mt-news {
	background-color: #858585;
	/* Preload */
	background: url("images/preloader-white.gif") no-repeat -1000px;
}
.modern-ticker .mt-news.mt-preloader {
	background: url("images/preloader-white.gif") no-repeat center;
}
.modern-ticker .mt-news ul {
	/* Preload */
	background-image: url("images/bullet-over-fafafa.png");
}
.modern-ticker .mt-news a {
	color: #ededed;
	background-color: #858585;
	background-image: url("images/bullet-505050.png");
}
.modern-ticker .mt-news a:hover {
	color: #fafafa;
	background-color: #0099ff;
	background-image: url("images/bullet-over-fafafa.png");
}
.modern-ticker .mt-news a:active {
	background-color: #0077ff;
}
.modern-ticker .mt-error {
	color: #fff;
}

/* Controls */
.modern-ticker .mt-controls {
	/* Preload */
	background-image: url("images/pause-505050.png");
}
.modern-ticker .mt-prev,
.modern-ticker .mt-next {
	background-color: #dadada;
}
.modern-ticker .mt-prev {
	background-image: url("images/prev-505050.png");
}
.modern-ticker .mt-next {
	background-image: url("images/next-505050.png");
}
.modern-ticker .mt-play {
	background-color: #e5e5e5;
	background-image: url("images/play-505050.png");
}
.modern-ticker .mt-pause {
	background-image: url("images/pause-505050.png");
}
.modern-ticker .mt-play:hover,
.modern-ticker .mt-prev:hover,
.modern-ticker .mt-next:hover {
	background-color: #0099ff;
}
.modern-ticker .mt-play:active,
.modern-ticker .mt-prev:active,
.modern-ticker .mt-next:active {
	background-color: #0077ff;
}