@charset "utf-8";

/* Ticker */
.modern-ticker {
	color: #fafafa;
	background-color: #fafafa;
}

/* Label */
.modern-ticker .mt-label {
	background-color: #555555;
}

/* News */
.modern-ticker .mt-news {
	background-color: #dedede;
	/* Preload */
	background: url("images/preloader-black.gif") no-repeat -1000px;
}
.modern-ticker .mt-news.mt-preloader {
	background: url("images/preloader-black.gif") no-repeat center;
}
.modern-ticker .mt-news ul {
	/* Preload */
	background-image: url("images/bullet-over-fafafa.png");
}
.modern-ticker .mt-news a {
	color: #505050;
	background-color: #dedede;
	background-image: url("images/bullet-505050.png");
}
.modern-ticker .mt-news a:hover {
	color: #fafafa;
	background-color: #0099ff;
	background-image: url("images/bullet-over-fafafa.png");
}
.modern-ticker .mt-news a:active {
	background-color: #0077ff;
}
.modern-ticker .mt-error {
	color: #000;
}

/* Controls */
.modern-ticker .mt-controls {
	/* Preload */
	background-image: url("images/pause-fafafa.png");
}
.modern-ticker .mt-prev,
.modern-ticker .mt-next {
	background-color: #555555;
}
.modern-ticker .mt-prev {
	background-image: url("images/prev-fafafa.png");
}
.modern-ticker .mt-next {
	background-image: url("images/next-fafafa.png");
}
.modern-ticker .mt-play {
	background-color: #5f5f5f;
	background-image: url("images/play-fafafa.png");
}
.modern-ticker .mt-pause {
	background-image: url("images/pause-fafafa.png");
}
.modern-ticker .mt-play:hover,
.modern-ticker .mt-prev:hover,
.modern-ticker .mt-next:hover {
	background-color: #0099ff;
}
.modern-ticker .mt-play:active,
.modern-ticker .mt-prev:active,
.modern-ticker .mt-next:active {
	background-color: #0077ff;
}